body {
  margin: 0;
  font-family: 'Hind', sans-serif; }

header {
  padding: 2% 1%;
  margin-bottom: 1%;
  background-color: #333;
  color: #ccc; }
  header h1 {
    margin: 0; }

main {
  padding: 0 1%; }
  main input[type="text"] {
    padding: 5px;
    width: 80%;
    height: 40px;
    box-sizing: border-box;
    font-size: 1.2em; }
  main button {
    width: 15%;
    height: 40px;
    box-sizing: border-box;
    font-size: 1.2em; }
  main #chat-messages {
    min-height: 600px;
    border: 2px solid black;
    list-style-type: none;
    padding: 0; }
    main #chat-messages .message {
      padding: .5%; }
      main #chat-messages .message .message-date {
        font-weight: 600; }
      main #chat-messages .message.highlight {
        background-color: #ccc; }
